.game-card {
  width: calc(100% - 60px);
}

.star-icon {
  color: #FFD700;
  display: inline-block;
  vertical-align: middle;
}

.score-container {
  position: absolute;
  bottom: 75px;
  right: 25px;
}
