<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sapient Games</span>
    <span class="example-spacer"></span>
    <mat-form-field class="example-full-width">
      <input matInput
             [formControl]="searchFormControl">
      <!--<mat-autocomplete #auto="matAutocomplete">-->
        <!--<mat-option *ngFor="let game of filteredGames | async" [value]="game.title">-->
          <!--{{ game.title }}-->
        <!--</mat-option>-->
      <!--</mat-autocomplete>-->
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-icon class="example-icon clickable" (click)="changeSortDirection()" matTooltip="Sort based on Score" [matTooltipPosition]="'left'">sort</mat-icon>
    <mat-icon class="example-icon clickable" *ngIf="sortDirection === 'ASC'" matTooltip="Sorted by Ascending Score" [matTooltipPosition]="'left'">arrow_drop_up</mat-icon>
    <mat-icon class="example-icon clickable" *ngIf="sortDirection === 'DESC'" matTooltip="Sorted by Descending Score" [matTooltipPosition]="'left'">arrow_drop_down</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-container">
  <router-outlet></router-outlet>
</div>

<mat-paginator *ngIf="length"
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent($event)">
</mat-paginator>
