<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sapient Games</span>
    <span class="example-spacer"></span>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search"
             [value]="searchString"
             [formControl]="searchFormControl">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-icon class="example-icon">sort</mat-icon>
    <mat-icon class="example-icon">arrow_drop_up</mat-icon>
    <mat-icon class="example-icon">arrow_drop_down</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
